<div class="container">
  <h1>Employee Details</h1>

  <div class="row border">
    <div class="col border">
      ID
    </div>

    <div class="col border">
      {{ employeeDetails.id }}
    </div>
  </div>

  <div class="row border">
    <div class="col border">
      NAME
    </div>

    <div class="col border">
      {{ employeeDetails.employee_name }}
    </div>
  </div>

  <div class="row border">
    <div class="col border">Salary</div>

    <div class="col border">
      {{ employeeDetails.employee_salary }}
    </div>
  </div>

  <div class="row border">
    <div class="col">AGE</div>

    <div class="col border">
      {{ employeeDetails.employee_age }}
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-dark mt-1 ml-2" (click)="back()">
      Back
    </button>
    <button type="button" class="btn btn-secondary mt-1 ml-2" (click)="edit()">
      Edit
    </button>
    <button type="button" class="btn btn-danger mt-1 ml-2" (click)="delete()">
      Delete
    </button>
  </div>
</div>
